.swiper-button-next {
  background-image: url(../svg/right-arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
  bottom: 0;
  top: unset;
  left: unset;
  right: var(--swiper-navigation-sides-offset, 100px);
  z-index: 9999;
}

.swiper-button-prev {
  background-image: url(../svg/left-arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
  bottom: 0;
  top: unset;
  right: unset;
  left: var(--swiper-navigation-sides-offset, 100px);
  z-index: 9999;
}
.swiper-button-next:after,
.swiper-button-prev:after {
  display: none;
}
